@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* For at forhindre standard scrollbars */
  }
  /*Herunder er css til og gøre billedet i baggrunden stillestående imens alt 
  andet bevæger sig*/
  .full-screen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .full-screen-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Sørger for, at billedet dækker hele containeren */
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll; /*Tillad vertikal scrolling*/
  }
  .section {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    animation: fadeInAndSlide 4s ease-in-out forwards;
  }
  .section img{
    transform-origin: left top;
    animation: spinIn 4s ease-in-out forwards;
  }
  .sectionTo{
    justify-content: space-around;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 15px;
  }



  /*Herunder er css til selve teksten i toppen*/
  h1{
    color: #000;
    margin-left: 5%;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 5%;
    font-weight: 900;
    font-family: 'Racing Sans One', sans-serif;
    margin-top: -500px;
    z-index: 10;

}
.overskrift{
    width: 70%;
}
h3{
    color: #000;
    margin-left: 5%;
    margin-top: -70px;
    margin-bottom: 500px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-family: 'Racing Sans One', sans-serif;
    z-index: 10;
}
  h2{
    color: #fff;
    font-family: 'Junge', cursive;
    font-size: 25px;
    padding: 5px 5px;
    word-spacing: 10px;
    text-align: left;
    font-weight: 100;


    overflow: hidden; /* Skjuler tekst, der ikke passer inden for containeren */
  white-space: normal; /* Forhindrer teksten i at bryde linjer */
  opacity: 0; /* Start med tekst skjult */
  transition: opacity 1s; /* Animer opacity over 1 sekund */
    
}
/* CSS for at afsløre tekst, når den er i synsfeltet */
h2.in-view {
    opacity: 1; /* Vis tekst ved fuld opacity */
  }
#section2 h2{
    width: 50%;
    border-radius: 25px;
    padding-top: 5%;
}
/*Herunder er css til de forskellige videoer*/
#background-video {
    width: 100%;
    height: 750px;
    object-fit: cover;
    z-index: 1;
  }
  h4{
    color: #fff;
    font-family: 'Junge', cursive;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
}
.interviewvideo video{
    width: 70%;
    height: 600px;
    margin-left: 15%;
    border-radius: 25px;
}

/*Herunder vil der være css til animationer*/

@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  h1, h3 {
    overflow: hidden;
    white-space: nowrap; /* Undgå at teksten bryder linjer */
    animation: typewriter 4s steps(500) 0.5s forwards; /* Juster varighed og antal trin efter behov */
  }

  .section img {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 1s ease-in-out;
  }
  
  .section.in-view img {
    visibility: visible;
    opacity: 1;
  }

  